{% extends "man.html" %}
{% block title %}
<title>create wiki - man.sr.ht</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <section class="col-md-6">
      {% if is_root %}
      <h3 id="create">Create root wiki</h3>
      {% else %}
      <h3 id="create">Create new wiki</h3>
      {% endif%}
      <form method="POST" action="/wiki/create">
        {{csrf_token()}}
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control {{valid.cls("name")}}"
            value="{{ repo_name or "" }}" />
          {{valid.summary("name")}}
        </div>
        <button type="submit" class="btn btn-primary">
          Select repo {{icon("caret-right")}}
        </button>
      </form>
    </section>
  </div>
</div>
{% endblock %}
