{% extends "manage.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <p>This will permanently delete the wiki.
      <strong>~{{ owner.username }}/{{ wiki.name }}</strong>.
      This cannot be undone.
    </p>
    <form method="POST">
      {{csrf_token()}}
      <button type="submit" class="btn btn-danger">
        Proceed and delete {{icon("caret-right")}}
      </button>
      <a
        class="btn btn-default"
        href="{{ url_for("html.user_content",
          owner_name=owner.username, wiki_name=wiki.name) }}"
      >Nevermind</a>
    </form>
{% endblock %}
