{% extends "layout.html" %}
{% block body %}
<!--
<h2>Wiki settings</h2>
<section>
  <p>
    You can manage settings for
    <strong>{{ owner.canonical_name }}/{{ wiki.name }}</strong> here.</p>
</section>
-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 header-tabbed">
      <h2>
        {{ owner.canonical_name }}/<wbr>{{ wiki.name }}
      </h2>
      {% block tabs %}
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/{{ owner.canonical_name }}/{{ wiki.name }}">
            {{icon("caret-left")}} back
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link \
            {% if request.path.endswith("info") %}active{% endif %}"
            href="{{ url_for("manage.info",
              owner_name=owner.canonical_name, wiki_name=wiki.name) }}"
          >info</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link \
            {% if request.path.endswith("delete") %}active{% endif %}"
            href="{{ url_for("manage.delete",
              owner_name=owner.canonical_name, wiki_name=wiki.name) }}"
          >delete</a>
        </li>
      </ul>
      {% endblock %}
    </div>
  </div>
</div>
<div class="container">
  {% block content %}{% endblock %}
</div>
{% endblock %}
