{% extends "man.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>index</h1>
      <p>
        Your wiki has been created, but does not have any content. To add
        content, push commits to the <strong>{{repo.ref}}</strong> branch of
        <a
          href="{{web_url}}"
        >{{wiki.owner.canonical_name}}/{{wiki.repo.name}}</a>:
        <code class="grey">{{clone_url.url}}</code>
      </p>
      {% if repo.ref != "master" %}
      <pre>git clone {{clone_url.url}} &amp;&amp; cd {{repo.name}}
git checkout --orphan {{repo.ref}}
git rm -rf *
echo "Hello world!" &gt;index.md
git add index.md
git commit -m"Initial wiki commit"
git push</pre>
      {% else %}
      <pre>git clone {{clone_url.url}} &amp;&amp; cd {{repo.name}}
echo "Hello world!" &gt;index.md
git add index.md
git commit -m"Initial wiki commit"
git push</pre>
      {% endif %}
      <p>
        For more information, consult the
        <a href="https://man.sr.ht/man.sr.ht/">documentation</a>.
      </p>
    </div>
    <div class="col-md-8">
      {% if wiki.owner.username == current_user.username %}
        <a
          href="{{ url_for("manage.info",
            owner_name=wiki.owner.canonical_name, wiki_name=wiki.name) }}"
          class="btn btn-default btn-block"
        >Settings for this wiki {{icon('caret-right')}}</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
